.top {
  display: flex;
  justify-content: center;
}
.nav {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  font-size: 25px;
  /*input has OS specific font-family*/
  color: #0d6efd;
  margin-right: 25px;
  text-decoration: none;
  cursor: pointer;
}
