<!--Dano-->
<app-navigation></app-navigation>
<!--Dano-->
<!-----------------------------THESE ARE THE DISPLAY ON THE TOP ------------------->
<!--Dano-->

<div class="header">
  <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>
  <h1>DASHBOARD</h1>
</div>
<hr>
<div class="top">
  <button class="nav" (click)="viewInventory()">Inventory</button>
  <p class="nav">/</p>
  <button class="nav" (click)="viewProduct()">Product Categories</button>
  <p class="nav">/</p>
  <button class="nav" (click)="isCreated()">Create New Products</button>
  <p class="nav">/</p>
  <button class="nav" (click)="onLogOut()">Log Out</button>
</div>
<!--Dano-->

<!--------------------------------------------------------------------------------------->

<!----------------------------------------- Inventory ------------------------------------>
<!--Dano-->
<div *ngIf="viewSwitch && !isCreate && !isEdited" style="justify-content: center">


  <div style="justify-content: center">
    <div class="product-title mt-4">
      <h1 style="letter-spacing: 5px;">Products</h1>
    </div>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class="row mt-4" style="justify-content: center">
      <div class="col-md-6 col-xl-3" *ngFor="let index of products_Array; let i = index;">
        <div class="card inventory m-b-30">
          <div class="card-body row">
            <div  class="card-title align-self-center mb-0">
              <h5>{{index.productName}}</h5>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: <a href="#">${{index.defaultPrice}}</a></li>
            <li class="list-group-item">{{index.description}}</li>
          </ul>
          <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
              <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" (click)="onEditProduct(i)"><i class="fa fa-pencil"></i> </a>
              <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" (click)="onDeleteProduct(i)"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--Dano-->

<!--------------------------------------------------------------------------------------->

<!---------------------------- Inventory EDIT --------------------------------------------->

<!--Dano-->

<div *ngIf="isEdited && viewSwitch && !isCreate" class="card product border-primary" style="width: 700px;">
  <article class="card-body">
    <h4 class="card-title mb-4 mt-1">Current Product</h4>
    <div class="card w-75 mb-4 border-primary">
      <div class="card-body">
        <h5 class="card-text">Product Name: {{currentProduct.productName}}</h5>
        <h5 class="card-text">Product Description: {{currentProduct.description}}</h5>
        <h5 class="card-text">Product Default Price: ${{currentProduct.defaultPrice}}</h5>
        <h5 class="card-text">Product Default MAP: ${{currentProduct.defaultMAP}}</h5>
        <h5 class="card-text">Images: {{currentProduct.images}}</h5>
      </div>
    </div>
    <h4 class="card-title mb-4 mt-1">Edit Product</h4>
    <form>
      <div class="form-group">
        <label>Product Name</label>
        <input name="product" class="form-control" placeholder="Product" type="text" [(ngModel)]="productName">
      </div> <!-- form-group// -->
      <div class="form-group">
        <label>Image Url</label>
        <input name="image" class="form-control" placeholder="Product image url" type="text" [(ngModel)]="images">
      </div> <!-- form-group// -->
      <div class="form-group">
        <button type="submit" class="btn btn-outline-primary" (click)="onSubmit()">Edit</button>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea name="descript" class="form-control" placeholder="Short product description" id="floatingTextarea2" rows="2"
                  [(ngModel)]="description"></textarea>
      </div>
      <div class="form-group">
        <label>Start Date</label>
        <input name="date" class="form-control" placeholder="Date" type="date" [(ngModel)]="startDate">
      </div>
      <div class="form-group">
        <label>Default Price</label>
        <input name="price" class="form-control" placeholder="Price" type="number"  [(ngModel)]="defaultPrice">
      </div>
      <div class="form-group">
        <label>Default MAP</label>
        <input name="map" class="form-control" placeholder="Price" type="number" [(ngModel)]="defaultMAP">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="onEdit()">Submit Edit</button>
        <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
      </div> <!-- form-group// -->
    </form>
  </article>
</div>

<!--Dano-->
<!--------------------------------------------------------------------------------------->


<!---------------------------- Categories --------------------------------------------->
<div *ngIf="viewSwitch === false&& !isCreate" >
  <div>
    <div class="product-title mt-4">
      <h1 style="letter-spacing: 5px;" >Categories</h1>
    </div>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
      <div class="row mt-4" style="justify-content: center">
        <div class="col-md-6 col-xl-3" *ngFor="let element of products_Array; let i = index">
          <div class="card inventory m-b-30">
            <div class="card-body row">
              <div  class="card-title align-self-center mb-0">
                <label>Product</label>
                <h5>{{element.productName}}</h5>
                <label>Category</label>
                <h5>{{element.categories}}</h5>
              </div>
            </div>
            <div class="card-body">
              <div class="float-right btn-group btn-group-sm">
                <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" (click)="onAddCategory(i)">Add </a>
                <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" (click)="onDeleteCategory(i)">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="card product border-primary" style="width: 1000px; height:500px;">
      <div class="card-body">
        <div class="card-header bg-transparent border-primary" style="text-align: center">
          <h4 class="card-title">Category Controls</h4>
        </div>

        <div style="display: flex;">
          <div class="card-form">
            <h4> {{displayCategory}} </h4>
            <label class="text-primary">Category Input</label>
            <input class="form-control" type="text" [(ngModel)]="categoryString">
            <div class="mt-2 btn-group btn-group-sm">
              <a href="#" class="btn btn-outline-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" (click)="createCategory()">Add </a>
              <a href="#" class="btn btn-outline-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" (click)="deleteCategory()">Delete</a>
              <a href="#" class="btn btn-outline-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Submit" (click)="onSubmitCategory()">Submit</a>
            </div>
          </div>
        </div>
        <hr>

        <div class="container list ">
          <div class="row justify-content-md-center">
            <div class="col">
              <h5>Add Lists of Category: </h5>
              <p *ngFor="let element of listsDisplay_Name">{{element}}</p>
            </div>
            <div class="col">
              <h5>Delete Lists of Category: </h5>
              <p *ngFor="let element of deleteListsDisplay_Name">{{element}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>

</div>
</div>
<!--------------------------------------------------------------------------------------->


<!---------------------------- CREATE PRODUCTS -------------------------------------------->
<!--Dano-->
<div *ngIf="isCreate" class="card product border-primary">
  <article class="card-body">
    <h4 class="card-title mb-4 mt-1">Create Product</h4>
    <form>
      <div class="form-group">
        <label>Product Name</label>
        <input name="product" class="form-control" placeholder="Product" type="text" [(ngModel)]="productName">
      </div> <!-- form-group// -->
      <div class="form-group">
        <label>Image Url</label>
        <input name="image" class="form-control" placeholder="Product image url" type="text" [(ngModel)]="images">
      </div> <!-- form-group// -->
      <div class="form-group">
        <button type="submit" class="btn btn-outline-primary" (click)="onSubmit()">Submit</button>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea name="descript" class="form-control" placeholder="Short product description" id="floatingTextarea" rows="2"
                  [(ngModel)]="description"></textarea>
      </div>
      <div class="form-group">
        <label>Start Date</label>
        <input name="date" class="form-control" placeholder="Date" type="date" [(ngModel)]="startDate">
      </div>
      <div class="form-group">
        <label>Default Price</label>
        <input name="price" class="form-control" placeholder="Price" type="number"  [(ngModel)]="defaultPrice">
      </div>
      <div class="form-group">
        <label>Default MAP</label>
        <input name="map" class="form-control" placeholder="Price" type="number" [(ngModel)]="defaultMAP">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="onCreateProduct()">Submit Product</button>
      </div> <!-- form-group// -->
    </form>
  </article>
</div> <!-- card.// -->

<!--Dano-->
<!--------------------------------------------------------------------------------------->
<!---------------------------- CREATE Categories -------------------------------------------->
<div *ngIf="!viewSwitch && !isCreate && isCreateCategory" style="padding: 1rem">
  <h1>Create Categories</h1>
  <div style="border: 1px solid black; width: 40rem; text-align: center">
    <p>Product Name: {{displayProduct}}</p>
    <p>CategoryName: <input type="text" [(ngModel)]="categoryString"></p>
    <button (click)="createCategory()">Create</button>
    <button (click)="onCancel2()"> Cancel</button>
  </div>

</div>
