<app-navigation></app-navigation>
<div class="body">
  <div>
    <button class="btn btn-secondary" (click)="onLogOut()">Log Out</button>
  </div>
  <div *ngIf="!switchCreate">
    <div>
      <button class="btn btn-danger" (click)="onCreate()" >CREATE</button>
    </div>
  </div>
  <br>
  <div *ngIf="switchCreate">
    <app-shopkeep-customer-admin-create></app-shopkeep-customer-admin-create>
  <div>
    <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
  </div>

  </div>



<!-- Dano -->
<!-- Show lists of accounts-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div *ngFor="let element of accounts; let i = index;" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{element.email}}</a></li>
          <li class="list-group-item"><i class="fa fa-id-badge float-right"></i>Permission: {{element.PermissionLevel}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" (click)="onEdit(i)"><i class="fa fa-pencil"></i> </a>
            <a class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" (click)="onDelete(i)"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
