<!-- HEAD
<h1>Create</h1>
email <input [(ngModel)]="email">
password <input [(ngModel)]="password">
<select name="permissions" id="permissions" [(ngModel)]="permission">
  <option value="Customer" selected>Customer</option>
  <option value="Admin">Admin</option>
  <option value="ShopKeeper">ShopKeeper</option>
</select>
{{errorNotSelecting}}
{{ERROR_FROM_HTTP_REQUEST}}

<button (click)="onCreate()">Create</button>
<button (click)="onCancel()">Cancel</button>
-->
<!-- Dano -->
<app-navigation></app-navigation>
<main role="main" class="container">
<!--<div *ngIf="permission_login">-->
<!--  <select name="permissions" id="permissions" [(ngModel)]="permission">-->
<!--    <option value="Customer"selected>Customer</option>-->
<!--    <option value="Admin">Admin</option>-->
<!--    <option value="ShopKeeper">ShopKeeper</option>-->
<!--  </select>-->
<!--  {{errorNotSelecting}}-->
<!--  <button (click)="onCreate()">Create</button>-->
<!--  <button (click)="onCancel()">Cancel</button>-->
<!--</div>
<div>
  {{ERROR_FROM_HTTP_REQUEST}}
  <button class="btn btn-primary" (click)="onCreate()">Create</button>
  <button (click)="onCancel()">Cancel</button>
</div>
-->




<!--&lt;!&ndash; HEAD &ndash;&gt;-->
<!--<app-navigation></app-navigation>-->
<!--<main role="main" class="container">-->
<button type="button" class="btn btn-primary mx-2" (click)="openPopup()">Create User</button>

  <div class="modal" tabindex="-1" role="dialog"
       [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">New Account</h4>
        </div>
        <div class="modal-body">

            <div class="mb-3">
              <!-- uses formControl to bind values-->
              <label class="form-label">Email</label>
              <input name="email" [(ngModel)]="email" formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input name="password" [(ngModel)]="password" formControlName="password" type="password" class="form-control" id="exampleInputPassword1"  placeholder="Password">
            </div>
            <div>
              <select name="permissions" id="permissions" class="form-control">
                <option value="Customer" selected>Customer</option>
                <option value="Admin">Admin</option>
                <option value="ShopKeeper">ShopKeeper</option>
              </select>
            </div>
            <div>
              {{ERROR_FROM_HTTP_REQUEST}}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="close" class="btn btn-secondary" (click)="closePopup()">Close</button>
          <!-- binds to the formControl event to update and create new values -->
          <button  type="button" class="btn btn-primary" (click)="onCreate()">Create</button>
          <!-- <button (click)="onCancel()" class="btn btn-secondary">Cancel</button> -->

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="email" id="defaultForm-email" class="form-control validate">
            <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
          </div>

          <div class="md-form mb-4">
            <i class="fas fa-lock prefix grey-text"></i>
            <input type="password" id="defaultForm-pass" class="form-control validate">
            <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-default">Login</button>
        </div>
      </div>
    </div>
  </div>



</main><!-- /.container -->
