<app-store-nav></app-store-nav>
<div class="header">
  <h1>Store</h1>
</div>
<hr>
<div class="top">
  <button class="nav">Items</button>
  <p class="nav">/</p>
  <button class="nav">Categories</button>
  <p class="nav">/</p>
  <button class="nav">Other?</button>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="">
            <p>img here</p>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>Product Title</h5>
            <p class="m-0">Description</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price</li>
          <li class="list-group-item">On Sale?</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="">
            <p>img here</p>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>Product Title</h5>
            <p class="m-0">Description</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price</li>
          <li class="list-group-item">On Sale?</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="">
            <p>img here</p>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>Product Title</h5>
            <p class="m-0">Description</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price</li>
          <li class="list-group-item">On Sale?</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="">
            <p>img here</p>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>Product Title</h5>
            <p class="m-0">Description</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price</li>
          <li class="list-group-item">On Sale?</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
